@charset "UTF-8";

h1,h2,h3,div,nav,body,title,html,nav,article,header { /* CSS reset removes inconsistencies that occur across browsers */
    margin: 0px;
    padding: 0px;
}
#ArticleContainer {
  width: 60%;
  float: left;
  position: relative;
}
#menuContainer {

}
.link { /* postioning of bottom article buttons */
  margin: 5px;
  position: absolute;
  bottom: 0px;
}
#nextArticle {
  left: 80%;
}
